<div class="box" id="box_##ID##">
	<h2>##HEADLINE##</h2>
	<form action="##URL##" method="post" class="add">
	<fieldset>
	<legend>Inhalt</legend>
		<p>
			<label for="title" class="before">Title</label>
			<input type="text" name="title" id="title" value="##TITLE##" />
		</p>
		<p>
			<label for="teaser" class="before">Einleitung</label>
			##TEASEREDITOR##
		</p>
		<p>
			<label for="body" class="before">Hauptteil</label>
			##BODYEDITOR##
		</p>
	</fieldset>
	<fieldset>
	<legend>Verbindung</legend>
		<p>
			<label for="page_id" class="before">Seite</label>
			<select name="page_id" id="page_id">
			##PAGEID##
			</select>
		</p>
		<!-- <p>
			<label for="sorted" class="before">Position</label>
			<select name="sorted" id="sorted">
			##SORTED##
			</select>
		</p> -->
	</fieldset>
	<fieldset>
	<legend>Metaangaben</legend>
		<p>
			<label for="template" class="before">Template</label>
			<input type="text" name="template" id="template" value="##TEMPLATE##" />
		</p>
		<p>
			<label for="published" class="before">Veröffentlicht</label>
			<select name="published" id="published">
				<option value="1" ##CHECKED##>ja</option>
				<option value="0" ##NOCHECKED##>nein</option>
			</select>
		</p>
		<p>
			<label for="access" class="before">Berechtigungslevel</label>
			<input type="text" name="access" id="access" value="##ACCESS##" />
		</p>
	</fieldset>
	<p><button type="submit">speichern</button></p>
	<input type="hidden" name="id" id="id" value="##ID##" />
	<input type="hidden" name="action" value="##ACTION##" />
	<input type="hidden" name="request" value="##REQUEST##" />
	</form>
</div>