@CHARSET "UTF-8";

body {
	background-color: #666;
}
#page {
	margin:20px auto;
	background-color: #fff;
}
	#branding {
		border-bottom:1px solid;
	}
		#branding .navigation h3 {
			display:none;
		}
		#branding .navigation ul {
			list-style:none;
		}
			#branding .navigation ul li {
				list-style:none;
			}
	#sidebar .navigation h3 {
		display:none;
	}